* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: ghostwhite;
}
.page-header {
    height: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: rgba(204, 54, 54, 0.822);
    box-shadow: 0 0px 9px rgba(10, 10, 10, 1);
}
.page-header > h1 {
    display: inline-block;
    background: none;
    color: whitesmoke;
    margin: 12px 0 10px 0;
}
.add-item {
    height: auto;
    width: auto;
    position: absolute;
    right: 1%;
    padding: 10px 12px 10px 12px;
    background: none;
    font-size: xx-large;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}
.add-item:hover {
    background-color: rgba(53, 51, 51, 0.541);
}
.add-item:active {
    transform: translateY(1px);
}
.aside-nav {
    display: inline-block;
    margin: 60px 0 0 0;
    padding: 40px 20px 20px 20px;
    height: -webkit-fill-available;
    width: 8%;
    position: fixed;
    text-align: left;
    background-color: rgba(219, 218, 218, 0.788);
    box-shadow: -1px 2px 5px rgba(10, 10, 10, 1);
}
.aside-nav > p {
    height: auto;
    margin-top: 15px;
    background: none;
    font-size: larger;
    color: rgb(80, 79, 79);
}
.aside-nav > p:hover {
    cursor: pointer;
}
.aside-nav > p:active {
    transform: translateY(1px);
}
.toDo-wrapper {
    float: right;
    width: 89%;
    height: auto;
    margin: 50px 10px 0 0;
}
.toDo-div {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    margin: 40px;
    color: rgba(36, 36, 36, 0.877);
    background-color: rgba(34, 138, 34, 0.342);
    height: 100px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow: auto;
}
.toDo-div > p {
    background: none;
    margin-top: 20px;
}
.toDo-title {
    background: none;
    display: inline-block;
    padding: 10px;
    margin: 0 auto !important;
    font-weight: bold;
    font-size: 20px;
}
.toDo-deleteBtn {
    background: none;
    cursor: pointer;
    float: right;
    font-size: xx-large;
    color: rgba(204, 54, 54, 0.822);
}
.task-div {
    background: none;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.877);
}
.task-header {
    background: none;
    font-weight: bold;
    font-size: xx-large;
    color: rgba(36, 36, 36, 0.877);
}
.signature {
    font-size: small !important;
    color: gray !important;
    background: none;
    position: absolute;
    bottom: 30%;
    text-align: center;
}
.signature > a {
    background: none;
    text-decoration: none;
    vertical-align: middle;
    color: rgba(212, 20, 20, 0.76);
}
.signature > a > img {
    background: none;
    margin: 20px 10px 10px 0;
}