* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(238, 238, 240);
}
.page-header {
    height: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: rgba(204, 54, 54, 0.822);
    box-shadow: 0 0px 9px rgba(10, 10, 10, 1);
}
.page-header > h1 {
    display: inline-block;
    background: none;
    color: whitesmoke;
    margin: 12px 0 10px 0;
}
.add-item {
    position: absolute;
    left: 3%;
    background: none;
    font-size: xxx-large;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}
.add-item:active {
    transform: translateY(1px);
}
.aside-nav {
    display: inline-block;
    margin: 60px 0 0 0;
    padding: 40px 20px 20px 20px;
    height: -webkit-fill-available;
    width: 8vw;
    min-width: 150px;
    position: fixed;
    text-align: left;
    background-color: rgba(201, 200, 200, 0.87);
    box-shadow: -1px 2px 5px rgba(10, 10, 10, 1);
}
.tasks-nav {
    height: auto;
    margin-top: 15px;
    background: none;
    font-size: larger;
    color: rgb(80, 79, 79);
}
.tasks-nav:hover {
    cursor: pointer;
}
.tasks-nav:active {
    transform: translateY(1px);
}
.toDo-wrapper {
    float: right;
    width: 85vw;
    height: auto;
    margin: 80px 0 40px 15vw;
}
.toDo-div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px 10px 20px 15px;
    margin: 20px;
    color: rgba(36, 36, 36, 0.877);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
    width: 35%;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow: auto;
}
.toDo-div > p {
    background: none;
}
.task-description-hidden {
    display: none;
}
.task-description-visible {
    display: block;
    border-top: 2px solid rgba(0, 0, 0, 0.473);
    padding: 15px 0 0 0;
    margin-top: 10px;
}
.due-date {
    margin: 5px 0 0 20px !important;
}
.toDo-div-noItems {
    display: block;
    text-align: left;
    padding: 8px;
    color: rgba(36, 36, 36, 0.678);
    font-size: x-large;
    font-weight: bold;
    height: 100px;
    width: 40vw;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow: auto;
}
.toDo-title {
    background: none;
    display: inline-block;
    padding: 10px;
    margin: 0 auto !important;
    font-weight: bold;
    font-size: 20px;
}
.expand-todo {
    background: ghostwhite;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.473);
    float: right;
    font-size: xx-large;
    margin: 0 3px 0 0;
    cursor: pointer;
}
.toDo-deleteBtn {
    background: ghostwhite;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    float: right;
    font-size: xx-large;
    color: rgba(6, 145, 25, 0.822);
}
.task-div {
    background: none;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.877);
}
.task-header {
    background: none;
    font-weight: bold;
    font-size: xx-large;
    color: rgba(36, 36, 36, 0.877);
}
.signature {
    font-size: small !important;
    color: gray !important;
    background: none;
    position: fixed;
    margin-top: 30px;
    padding-top: 40px;
    border-top: 1px solid black;
    text-align: center;
}
.signature > a {
    background: none;
    text-decoration: none;
    vertical-align: middle;
    color: rgba(212, 20, 20, 0.76);
}
.signature > a > img {
    background: none;
    margin: 35px 20px 20px 20px;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    background: none;
    width: 100%;
    overflow: auto;
}
.modal-content {
    margin: 100px auto;
    padding: 5px 10px 15px 10px;
    border: 3px solid rgba(75, 46, 46, 0.795);
    box-shadow: 0 0 10px 3px rgb(165, 40, 40);
    width: 30%;
    height: 48%;
    color: rgb(80, 79, 79);
    border-radius: 15px;
    padding-bottom: 55px;
}
.modal-content > h3 {
    margin: 10px;
    font-size: x-large;
}
.modal-close-btn {
    color: rgb(75, 46, 46);
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.blur-background {
    filter: blur(5px);
}
#modal-form {
    display: grid;
    line-height: 2.5;
    border-top: 2px solid rgba(29, 29, 29, 0.582);
    margin: 20px 0 40px 0;
}
.modal-form-labels {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: rgb(80, 79, 79);
}
.modal-form-controls {
    padding: 3px 5px 3px 8px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.modal-form-controls:focus-visible {
    outline: none;
    box-shadow: 0 0 3px 2px lightskyblue;
    border: 1px solid transparent;
}
.modal-error-output-hidden {
    display: none;
}
.modal-error-output-visible {
    display: block;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.781) !important;
    margin: 5px 0 -10px 0 !important;
}
.modal-form-controls-bad-input {
    border: 1px solid rgba(255, 0, 0, 0.781);
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.781);
}
.modal-form-controls-bad-input:focus-visible {
    border: 1px solid rgba(223, 39, 39);
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.781);
}
#todo-due-date {
    padding-right: 20px;
}
#todo-description {
    min-height: 80px;
    max-height: 300px;
    resize: vertical;
}
#todo-priority {
    width: 30px;
}
#modal-submit-btn {
    width: 30%;
    float: right;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    color: white;
    border: 1px solid lightgray;
    cursor: pointer;
    background-color: rgba(0, 140, 255, 0.767);
    padding: 12px;
}
#modal-submit-btn:hover {
    box-shadow: 0 0 3px 2px lightskyblue;
}
